body{
	margin: 0;
}
.container {
	width: 75%;
	margin: auto;
}
/****************************** HEADER SECTION ******************************/

/********** Navigation bar top **********/
nav {
	font-family: sans-serif;
	width: 100%;
	background-color: #333;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	z-index: 9999;
	height: 60px;
	line-height: 20px;
}
nav ul {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li {
	display: inline-block;
	color: #fff;
	padding: 0;
	margin: 0;
}
nav ul li a {
	text-align: center;
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 20px;
	transition: 0.3s;
}
nav ul li a:not(.active):hover {
	background-color: #111;
}


.active {
	background-color: #4CAF50;
}

/********** Dropdown navigation top **********/
nav li.dropdown {
	display: inline-block;

}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	z-index: 1;

}


.dropdown-content a {
	color: black;
	text-decoration: none;
	display: block;
	text-align: left;
	border-bottom: 4px solid transparent;
}


.dropdown-content a:hover {
	background-color: #333;
	color: #fff;
	border-bottom-color: #4CAF50;
}

.dropdown:hover .dropdown-content {
	display: block;

}

/********** LOGO navigation top **********/
nav .nav-logo {
	text-align: center;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	display: block;
	padding-top: 20px;
	float: left;
}

/****************************** HEADER SECTION ENDS ******************************/


/********** Body **********/
.main-wrapper {
			margin-top: 60px;
			background-color: #fff;
}

/********** Shadows according to google material design **********/
.md-whiteframe-1dp {
    box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12); }
.md-whiteframe-2dp {
    box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12); }
.md-whiteframe-3dp {
    box-shadow:0px 1px 8px 0px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14),
    0px 3px 3px -2px rgba(0, 0, 0, 0.12); }
.md-whiteframe-4dp {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
.md-whiteframe-5dp {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12); }
.md-whiteframe-6dp {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12); }
.md-whiteframe-7dp {
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
    0px 7px 10px 1px rgba(0, 0, 0, 0.14),
    0px 2px 16px 1px rgba(0, 0, 0, 0.12); }
.md-whiteframe-8dp {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12); }
.md-whiteframe-9dp {
    box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2),
    0px 9px 12px 1px rgba(0, 0, 0, 0.14),
    0px 3px 16px 2px rgba(0, 0, 0, 0.12); }
.md-whiteframe-10dp {
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14),
    0px 4px 18px 3px rgba(0, 0, 0, 0.12); }
.md-whiteframe-11dp {
    box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2),
    0px 11px 15px 1px rgba(0, 0, 0, 0.14),
    0px 4px 20px 3px rgba(0, 0, 0, 0.12); }
.md-whiteframe-12dp {
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14),
    0px 5px 22px 4px rgba(0, 0, 0, 0.12); }
.md-whiteframe-13dp {
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 13px 19px 2px rgba(0, 0, 0, 0.14),
    0px 5px 24px 4px rgba(0, 0, 0, 0.12); }
.md-whiteframe-14dp {
    box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2),
    0px 14px 21px 2px rgba(0, 0, 0, 0.14),
    0px 5px 26px 4px rgba(0, 0, 0, 0.12); }
.md-whiteframe-15dp {
    box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2),
    0px 15px 22px 2px rgba(0, 0, 0, 0.14),
    0px 6px 28px 5px rgba(0, 0, 0, 0.12); }
.md-whiteframe-16dp {
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14),
    0px 6px 30px 5px rgba(0, 0, 0, 0.12); }
.md-whiteframe-17dp {
    box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2),
    0px 17px 26px 2px rgba(0, 0, 0, 0.14),
    0px 6px 32px 5px rgba(0, 0, 0, 0.12); }
.md-whiteframe-18dp {
    box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2),
    0px 18px 28px 2px rgba(0, 0, 0, 0.14),
    0px 7px 34px 6px rgba(0, 0, 0, 0.12); }
.md-whiteframe-19dp {
    box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2),
    0px 19px 29px 2px rgba(0, 0, 0, 0.14),
    0px 7px 36px 6px rgba(0, 0, 0, 0.12); }
.md-whiteframe-20dp {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 20px 31px 3px rgba(0, 0, 0, 0.14),
    0px 8px 38px 7px rgba(0, 0, 0, 0.12); }
.md-whiteframe-21dp {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 21px 33px 3px rgba(0, 0, 0, 0.14),
    0px 8px 40px 7px rgba(0, 0, 0, 0.12); }
.md-whiteframe-22dp {
    box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2),
    0px 22px 35px 3px rgba(0, 0, 0, 0.14),
    0px 8px 42px 7px rgba(0, 0, 0, 0.12); }
.md-whiteframe-23dp {
    box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2),
    0px 23px 36px 3px rgba(0, 0, 0, 0.14),
    0px 9px 44px 8px rgba(0, 0, 0, 0.12); }
.md-whiteframe-24dp {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12); }


.box-demo {
	width: 400px;
	height: auto;
	background-color: lightgrey;
	float: left;
	margin: 10px;
	padding: 30px;

}

.section1 {
	position: relative;
	top: 100px;

}

.loginpanel {
	width:500px;
	height:400px;
	margin: auto;
}

.title {
	width:100%;
	height:50px;
	background-color: #46BDCF;
	text-align: center;
}

	/**** Credential Division ****/

.field {
	width:95%;
	height:70px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 5px;
	text-align: center;
}

	/****** Credential Fields ********/

#username, #password {
	width:98%;
	height:70%;  /*70-30*/
	font-size: 19px;
	position:relative;
	background-color: #454343;
	background:transparent;
	font-family: Work Sans;
	border:none;
	top:16px;
	margin:auto;
	outline: none;
}

	/**** line at the bottom of each field ****/

.line {
	background-color: #ADA9A9;
	width:100%;
	height:3px;
	position:relative;
	top:17px;
	transition:all 0.3s ease;
}

	/** Selection Animation (basic not perfect) ***/

#username:focus + #line {
	background-color: #FE0404;
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

#password:focus + #line {
	background-color: #FE0404;
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

	/*** Button  ***/

.btn-primary {
	padding: 5px 0;
	width:100px;
	font-size: 17px;
	position:relative;
	right:-180px;
}

.btn-danger {
	width:500px;
	height:50px;
	float:right;
	position:relative;
	left:-40px;
	font-size: 18px;
	font-family: Roboto;
	padding: 10px 10px;
}

.other-login {
	width:37px;
	height:200px;
	position:absolute;
	left:200px;
}

.aadhar {
	font-size: 18px;
	text-align: center;
	font-family: Roboto;
}

.card {
	width:500px;
	height: 200px;
	margin:auto;
	background-color: #F8C161;
	font-size: 19px;
	font-family: Roboto;
	position:relative;
	padding: 16px 16px 16px 16px;
	transition:height 2s;
}

.card:hover {
	height: 400px;
}

.cardcontainer {
	width:75%;
	margin:auto;
	height: 800px;
	background-color: #FFF0A5;
	position:relative;
	top:50px;
	overflow-y:scroll;
}

.top-margin {
	width:100%;
	height: 50px;
	margin:auto;
}

.footer {
	width:100%;
	height:300px;
	margin:auto;
	background-color: #4B4A4A;
	position:relative;
}

.d404 {
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

.mode select {
	margin:10px;
}

