{% include 'dashboard_portal/header.html' %}
{% load static %}
		<div class="main-wrapper">
				<div class="left-panel">
					{% include 'dashboard_portal/leftpanel.html' %}
				</div>
				<div class="right-panel">
					<div class="update-center-info-div">	
						<div class="module-header">
							<form action="{% url 'dashboard:changepasswordredirect' %}" method="post">
								{% csrf_token %}	
								<div class="field">
									<input type="password" id="oldpassword" placeholder="Old password" name="oldpassword">
									<div class="line" id="line"></div>
								</div>
								<div class="field">
									<input type="password" id="newpassword" placeholder="New password" name="newpassword">
									<div class="line" id="line"></div>
								</div>
								<button type="submit" id="submit" class="btn-primary md-whiteframe-5dp">Change password</button>
							</form>
						</div>
					</div>
					
				</div>
		</div>
	</body>
</html>	