<div class="update-center-info-div md-whiteframe-2dp">	
	<div class="module-header">
		Edit batch Details
	</div>
	<table>
		<tr>
			<td>Batch Start Date</td>
			<td><input name="batch_start_date" type="text" value=""></td>
		</tr>
		<tr>
			<td>Course Id</td>
			<td><input name="course_id" type="text" value=""></td>
		</tr>
		<tr>
			<td>Batch End Date</td>
			<td><input name="batch_end_date" type="text" value=""></td>
		</tr>
		<tr>
			<td>Batch Assessement Date</td>
			<td><input name="batch_assessment_date" type="text" value=""></td>
		</tr>
	</table>	
</div>